@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', serif;
    font-weight: 500;
}

.adminWidth {
    width: calc(100% - 16rem);
}

.Toastify__toast-container--top-right {
    top: 5.25em;
    right: calc(3rem - 4px);
}